/* Fonts */

@import url('https://fonts.cdnfonts.com/css/sansita');
@import url('https://fonts.cdnfonts.com/css/celebes');

/* Larger devices (Default) */

/* Containers */
body{
    background-color: #1D3557;
}

#main-container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding-left: 2em;
    padding-right: 2em;
}

#main-content-container-styleguide{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width:60%;
}

#main-content-container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin:2em;
    width:100%;
}

#sections-container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width:20%;
    padding-right: 2em;
}

#purpose-container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding-left: 1em;
    padding-bottom: 3em;
    margin-bottom: 3em;
    border-radius: 15px;
    padding: 2em;
    background-color: #A8DADC;
}

#branding-container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding-left: 1em;
    padding-bottom: 3em;
    margin-bottom: 3em;
    border-radius: 15px;
    padding: 2em;
    background-color: #A8DADC;
}

#interactive-container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding-left: 1em;
    padding-bottom: 3em;
    margin-bottom: 3em;
    border-radius: 15px;
    padding: 2em;
    background-color: #A8DADC;
}

#text-container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding-left: 1em;
    padding-bottom: 3em;
    margin-bottom: 3em;
    border-radius: 15px;
    padding: 2em;
    background-color: #A8DADC;
}

#templates-container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding-left: 1em;
    padding-bottom: 3em;
    margin-bottom: 3em;
    border-radius: 15px;
    padding: 2em;
    background-color: #A8DADC;
}

.row-element-container-styleguide{
    display:flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: start;
    justify-content: center;
    background-color: #F1FAEE;
    border-radius: 15px;
    margin-bottom: 2em;
}

.row-element-container{
    display:flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: start;
    justify-content: center;
    border-radius: 15px;
    margin-bottom: 2em;
}

.column-element{
    display:flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
    margin: 2em;
}

.element{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    margin-bottom:2em;
}

.element-centered{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom:4em;
}

.element-padded{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    margin-top: 3em;
    margin-left: 3em;
    margin-bottom:4em;
}

.thumbnail-container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    background-color: #1D3557;
    box-shadow: 3px 5px 5px #D9D9D9;
    border-radius: 15px;
    padding: 1em;
    margin: 2em;
}

.column-element-container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.responsibilities-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
}

.content-container-light-blue{
    margin-left: 2em;
    margin-right: 2em;
    background-color: #A8DADC;
    padding-bottom: 2em;
    border-radius: 15px;
    padding: 2em;
    border-style: none;
}

.content-container-light-white{
    margin-left: 2em;
    margin-right: 2em;
    background-color: #F1FAEE;
    padding-bottom: 2em;
    border-radius: 15px;
    padding: 2em;
    border-style: none;
}

.content-container-dark{
    background-color: #1D3557;
    padding-bottom: 2em;
    border-radius: 15px;
    padding: 2em;
    border-style: none;
}

/* Text elements */

h1{
    font-family: Sansita;
}

.h1-white{
    color: #F1FAEE
}

h2{
    font-family: Sansita;
}

.h2-bluetint{
    color: #F1FAEE;
}

h3{
    font-family: Sansita;
}

.h3-gainsboro{
    color: gainsboro;
}

.h3-bluetint{
    color: #F1FAEE;
}

h4{
    font-family: Sansita;
}

p{
    font-family: Celebes;
    padding-bottom: 2em;
    width: 50%;
}

.lightblue-paragraph{
    color: #A8DADC;
    width: 50%;
}

.strong-paragraph{
    color: #A8DADC;
    font-weight: bold;
    border-color: white;
    border-bottom: #F1FAEE;
    border-style: solid;
    border-top: #1D3557;
    border-left: #1D3557;
    border-right: #1D3557;
    margin-bottom: 3em;
}

.styleguide-list{
    list-style: none;
}

.styleguide-list li::before{
    background-color: #457B9D;
    content: "\2022";
    font-weight: bold;
    font-family: Celebes;
    color:#F1FAEE;
}

.center-content{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

/* Styleguide specific elements */

#h1-styleguide{
   padding-left: 3em;
   padding-top: 3em;
   color: #F1FAEE;
}


code{
    width: 100%;
    background-color: white;
    padding: 1em;
    border-radius: 10px;
}

.render-element{
    color:black;
}

/* Interactive elements */
.text-link{
    font-family: Celebes;
    font-style: normal;
    font-weight: 800;
    text-decoration: none;
}

.image-link{
    width: 150px;
    height: 200px;
}

.image-link:hover{
    opacity: .5;
    transition: opacity .5s ease-out;
}
ul li a{
    font-family: Sansita;
    text-decoration: none;
    color: #F1FAEE;
}

nav{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
}

nav ul{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

nav ul li{
    margin-left: 4em;
    padding: 1em;
    background-color: #457B9D;
    border-radius: 15px;
}

ul{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

ul li{
    margin-left: 3em;
}

.styleguide-list{
    width: 70%;
    padding-top: 2em;
    background-color: #457B9D;
    border-radius: 15px;
}

.styleguide-list li{
    width: 90%;
}

.section-nav{
    display: block;
}


.styleguide-list li::before{
    background-color: #457B9D;
    content: "\2022";
    font-weight: bold;
    display: inline-block;
    font-family: Celebes;
    color:#F1FAEE;
}

 .styleguide-list li{
    background-color: #457B9D;
    font-family: Celebes;
    color: #F1FAEE;
    border-radius: 15px;
    padding-bottom: 2em;
}

.btn{
    font-family: Sansita;
    font-style: normal;
    font-weight: 100;
    font-size: 14px;
    text-align: center;
    width: 20%;
    display: inline-block;
    padding: 0.7rem;
    color: #F1FAEE;
    background-color: #E63946;
    text-decoration: none;
    border-radius: 20px; 
    transition-duration: 0.4s;
    box-shadow: 1.5px 2.5px 5px #D9D9D9;
}

.btn:hover, .btn:focus{
    opacity: .5;
    transition: opacity .5s ease-out;
}

/* Mobile device up to 576 px */
@media (max-width:575.98px){
    #main-content-container{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        margin:0em;
        width:100%;
    }
    .content-container-light-blue{
        padding: 1em;
        margin-bottom: 1em;
    }

    .content-container-light-white{
        padding: 1em;
        margin-bottom: 1em;
    }

    .lightblue-paragraph{
        margin-left: 3em;
        width: 80%;
    }

    ul li{
        margin-left:2em;
        margin-bottom: 2em;
    }

    .element{
        margin-bottom: 1em;
    }

    p{
        width: 80%;
    }

    ul{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: flex-start;
    }

    nav{
        justify-content: center;
        width: 100%;
    }

    nav ul li{
        margin-left: 2em;
        padding: 1em;
        background-color: #457B9D;
        border-radius: 15px;
    }

    .weapon_img{
        width: 20%;
        height:20%;
    }

    img{
        width: 80%;
        height: 80%;
    }
}

/* Tablets up to 992px */
@media (max-width: 991.98px){

}
